@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 40px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item + &-item {
      padding-left: 35px;
    }
    &-link {
      text-transform: uppercase;
      color: $title-color;
      padding-bottom: 1px;
      transition: all 0.3s;
      @extend %quicksand-400;
      &:hover {
        color: $accent-color;
        border-bottom: 1px solid $accent-color;
        @extend %quicksand-500;
      }
      &--active {
        color: $accent-color;
        border-bottom: 1px solid $accent-color;
        @extend %quicksand-500;
      }
    }
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link {
    position: relative;
  }
  &__link + &__link {
    padding-left: 25px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent-color;
    top: -9px;
    right: -14px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-family: "Quicksand", sans-serif;
  }
}

@import "media";
